<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="constr" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\Cophix_Work\VB_Projects\Medical Shop Billing System\DB_Medical.mdf;Integrated Security=True" />
  <add name="Medical_Shop_Billing_System.My.MySettings.DB_MedicalConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DB_Medical.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	</configuration>